<p id="notice"><%= notice %></p>

<h1><%= @club.name %></h1>

<% if @club.book.present? %>
  <h2>Book:</h2>

  <p>
    <strong>Title:</strong>
    <i><%= @club.book.title %></i>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @club.book.author %>
  </p>

  <p><strong>Description:</strong></p>
  <p><%= @club.book.description %></p>
<% else %>
  <%= link_to 'Add a book', new_book_path(club_id: @club.id) %>
<% end %>

<h2>Members</h2>
<ul>
  <% @club.members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
