<h1><%= @club.name %></h1>

<h2>Book info</h2>
<h3>Title: <i><%= @club.book.title %></i></h3>
<h3>Author: <%= @club.book.author %></h3>
<% if @club.book.description.present? %>
  <p><%= @club.book.description %></p>
<% end %>

<h2>Members</h2>
<ul>
  <% @club.members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
</ul>
